<html>
    <head>
        <title>Foresight | Prepare for Entrance</title>
        <link rel="stylesheet" href="../css/indexNav.css">
    </head>

    <body>
        <div class="nav-bar">
            <div class="logo">
                <a href="#">
                    <img src="../../assets/logo.png" alt="">
                </a>
            </div>

            <div class="right-panel">
                <ul>
                    <li><a href="#" id="login">Login</a></li>
                    <li><a href="#" id="sign-up">SignUp</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
