.dashboard-container{
    display: flex;
    min-width: 100wh;
    min-height: 100vh;
    background-color: aliceblue;
}

.left-container{
    gap: 20px;
    width: 20%;
    display: flex;
    padding-top: 20px;
    align-items: center;
    flex-direction: column;
    background-color: rgba(212, 212, 212, 0.555);
}

.right-container{
    gap: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
}

.left-links{
    width: 85%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    background-color: rgb(9, 59, 78);
}

.left-links:not(:last-child):hover{
    background-color: rgb(22, 84, 109);
}

.chart-div{
    width: 100%;
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-grow:1;
}

.logout-link{
    background-color: rgb(64, 1, 116);
}

.logout-link:hover{
    background-color: rgb(85, 3, 153);
}

.no-records{
    width: 100%;
    display: flex;
    font-size: 40px;
    cursor: default;
    min-height: 80vh;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
    color: rgba(8, 0, 27, 0.692);
}
