@font-face {
    font-family: Courgette;
    src: url("../fonts/Courgette-Regular.ttf");
}

.quote{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quote p{
    width: 50%;
    padding-top: 50px;
    font-family: Courgette;
    text-align: center;
    font-size: 45px;
    color: #ECF9FF;
}

.quote img{
    width: 100%;
    margin-top: 2%;
}

.welcome{
    padding: 20px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.welcome img{
    width: 50%;
}

.welcome p{
    width: 50%;
    padding: 20px;
    font-size: 25px;
    color: #ECF9FF;
    text-align: justify;
}

.contact{
    gap: 5px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}

#contact-image{
    width: 75%;
}

.contact-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-right{
    width: 50%;
}

form{
    gap: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-form-item input,
textarea{
    width: 80%;
    padding: 10px;
    outline: none;
    color: #bed7e7;
    border: 1px solid #bed7e7;
    background: transparent;
}

textarea{
    resize: none;
}

.contact-form-item input::placeholder,
textarea::placeholder{
    color: #bed7e7;
}

.contact-form-item input:focus,
textarea:focus{
    color: white;
    border-color: white;
}

.send-msg{
    width: 30%;
    outline: none;
    padding: 20px;
    cursor: pointer;
}
