@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@500&display=swap');


.outer-container{
    width: 100wh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container{
    width: 40%;
    height: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/Reset\ Password.jpg');
}

.right-container{
    width: 50%;
    height: 50%;
}

form{
    gap: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.password-div{
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
}

.pass-eye1,
.pass-eye2{
    right: 2px;
    height: 100%;
    display: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 50px;
    position: absolute;
    align-items: center;
}

input{
    width: 100%;
    outline: none;
    padding: 15px;
    font-size: 15px;
}

.submit-button{
    width: 80%;
}

button{
    border: 0;
    width: 35%;
    padding: 20px;
    cursor: pointer;
    font-size: 15px;
    color: whitesmoke;
    font-weight: bolder;
    background-color: rgb(117, 0, 163);
}


button:hover{
    background-color: rgb(138, 0, 192)
}

small.show-error{
    width: 80%;
}

i.show-eye{
    display: flex;
}

@media screen and (max-width: 900px) {
    .outer-container{
        flex-direction: column-reverse;
    }

    .left-container,
    .right-container{
        width: 60%;
    }

    .left-container{
        margin-bottom: 20px;
    }

    button{
        font-size: 13px;
        width: 42%;
    }
}

@media screen and (max-width: 855px) {
    button{
        width: 45%;
    }
}

@media screen and (max-width: 785px) {
    .left-container{
        width: 80%;
    }
}

@media screen and (max-width: 723px) {
    button{
        width: 50%;
    }
}

@media screen and (max-width: 647px) {
    button{
        width: 55%;
    }
}

@media screen and (max-width: 590px) {
    button{
        width: 60%;
    }
}
