.outer-container{
    width: 100wh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


form{
    gap: 20px;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    width: 80%;
    outline: none;
    padding: 10px;
    font-size: 15px;
}

.submit-button{
    width: 80%;
}

button{
    border: 0;
    width: 35%;
    padding: 20px;
    cursor: pointer;
    font-size: 15px;
    color: whitesmoke;
    font-weight: bolder;
    background-color: rgb(117, 0, 163);
}


button:hover{
    background-color: rgb(138, 0, 192)
}

small.show-error{
    width: 80%;
}
