.outer-div{
    height: 80vh;
    width: 100wh;
    display: flex;
    overflow: hidden;
    min-height: 10vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.search-container{
    width: 50%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.search-icon{
    font-size: 25px;
    padding-left: 3px;
    position: absolute;
}

.search-container input{
    width: 100%;
    border: 0;
    outline: none;
    padding: 10px;
    padding-left: 30px;
}

.program-container{
    width: 50%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.program{
    width: 30%;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(1, 119, 139);
}

.program:hover{
    color: rgb(191, 245, 236);
    background-color: rgb(20, 137, 158);
}
