@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@500&display=swap');


.outer-container{
    gap: 30px;
    width: 100wh;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first-success-message{
    padding-top: 50px;
}

.success-message{
    width: 50%;
    font-size: 27px;
    color: whitesmoke;
    font-family: "Anek Gujarati";
}

@media screen and (max-width: 1000px) {
    .success-message{
        font-size: 25px;
    }
}

@media screen and (max-width: 736px) {
    .success-message{
        font-size: 23px;
    }
}

@media screen and (max-width: 576px) {
    .success-message{
        font-size: 20px;
    }
}
