@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@500&display=swap');


.outer-container{
    gap: 30px;
    width: 100wh;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first-success-message{
    padding-top: 50px;
}

.success-message{
    width: 50%;
    font-size: 27px;
    color: whitesmoke;
    font-family: "Anek Gujarati";
}
