@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    box-sizing: border-box;
  }

body{
    background-color: #4398b5;
}

.nav-bar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.right-panel{
    display: flex;
    align-items: center;
    justify-content: center;
}

#take-test{
    padding: 20px;
    color: #ECF9FF;
    font-weight: 600;
    border-radius: 15px;
    margin-right: 25px;
    background-color: #88609b;
}

#title{
    color: #ECF9FF;
    font-size: 30px;
    padding-left: 30px;
    letter-spacing: 5px;
    font-family: 'Oswald';
}

a{
    color: black;
    text-decoration: none;
}

.profile-img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.drop-down-menu{
    right: 0px;
    max-height: 0;
    display: none;
    position: absolute;
    background-color: #7bb7ca;
    transition: max-height 5s;
}

.drop-down-menu.open-menu{
    display: block;
    max-height: 400px;
}

.drop-down-profile{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffffff;
}

.drop-down-profile-img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.drop-down-profile h3{
    padding: 10px;
    color: whitesmoke;
}

.drop-down-menu hr{
    width: 100%;
    height: 1;
    background: #ccc;
}

.drop-down-options{
    display: flex;
    padding: 5px;
    cursor: pointer;
    align-items: center;
}

.drop-down-options i{
    color: #3a3939;
    font-size: 40px;
    margin-left: 5px;
    margin-right: 25px;
}

.drop-down-options p{
    font-size: 20px;
}
