{% extends 'admin/nav.html' %}
{% load static %}

{% block content%}
    <link rel="stylesheet" href="{% static 'css/admin/edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/error-message.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    {% include 'admin/side-bar.html' %}

    <div class="right-container">
        {% for message in messages %}
            {% if message %}
                {% if message.tags == 'success' %}
                    <div class="message-div success-message">
                        <p>{{message}}</p>
                        <i class='bx bx-x'></i>
                    </div>

                {% else %}
                    <div class="message-div error-message">
                        <p>{{message}}</p>
                        <i class='bx bx-x'></i>
                    </div>

                {% endif %}
            {% endif %}
        {% endfor %}

        {% if template_type == 'template::users' %}
            <link rel="stylesheet" href="{% static 'css/admin/User.css' %}">

            {% include 'admin/search.html' %}

            {% if data_details == 'No data found' %}
                <p class="no-data">{{data_details}}</p>

            {% else %}
                <div class="wrapper">
                    {% for user in data %}
                        <a class="inner-wrapper" href="{% url 'edit-user' user.id %}">
                            <div class="inner-wrapper-top">
                                <p class="user-email">{{user.email}}</p>
                            </div>

                            <div class="inner-wrapper-bottom">
                                <div class="inner-wrapper-left">
                                    {% if user.Gender is not None %}
                                        <p class="user-gender">{{user.Gender | capfirst}}</p>
                                    {% endif %}

                                    {% if user.is_superuser %}
                                        <p class="user-admin">Admin</p>

                                    {% else %}
                                        <p class="user-admin">Non-Admin</p>
                                    {% endif %}

                                    {% if user.is_active %}
                                        <p class="user-active">Active</p>

                                    {% else %}
                                        <p class="user-active">In-Active</p>
                                    {% endif %}
                                </div>

                                <div class="inner-wrapper-right">
                                    <img src="{{user.ProfileImage}}" alt="">
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                {% include 'JumpToNextPage.html' %}

            {% endif %}

        {% elif template_type == 'template::exams' %}
            <link rel="stylesheet" href="{% static 'css/admin/exams.css' %}">

            {% include 'admin/search.html' %}

            {% if data_details == 'No data found' %}
                <p class="no-data">{{data_details}}</p>

            {% else %}
                <div class="wrapper">
                    {% for exam in data %}
                        <a class="inner-wrapper" href="{% url 'detailed-history' exam.Slug %}">
                            <div class="inner-wrapper-top">
                                <p class="exam-user">{{exam.user_email}}</p>
                            </div>

                            <div class="inner-wrapper-bottom">
                                <div class="inner-wrapper-left">
                                    <p class="exam-programme">{{exam.ProgrammeName}}</p>
                                    <p class="exam-date">{{exam.Date}}</p>
                                </div>

                                <div class="inner-wrapper-right">
                                    <p>{{exam.CorrectCounter}}</p>
                                    <p>100</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                {% include 'JumpToNextPage.html' %}

            {% endif %}

        {% elif template_type == 'template::programmes' %}
            <link rel="stylesheet" href="{% static 'css/admin/programme.css' %}">

            <div class="wrapper">
                {% for programme in data %}
                    <div class="inner-wrapper">
                        <div class="inner-wrapper-left">
                            <p>{{programme.Name}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <script src="{% static 'js/admin/resize-div-height.js' %}"></script>
            {% include 'JumpToNextPage.html' %}

        {% elif template_type == 'template::subjects' %}
            <link rel="stylesheet" href="{% static 'css/admin/subjects.css' %}">

            {% include 'admin/search.html' %}

            {% if data_details == 'No data found' %}
                <p class="no-data">{{data_details}}</p>

            {% else %}
                <div class="wrapper">
                    {% for subject in data %}
                        <a class="inner-wrapper" href="{% url 'edit-subject' subject.ID %}">
                            <div class="inner-wrapper-left">
                                <p>{{subject.programme_name}}</p>
                                <p>{{subject.Name}}</p>
                            </div>

                            <div class="inner-wrapper-right">
                                <p>Total Question</p>
                                <p>{{subject.TotalQuestionsToSelect}}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                {% include 'JumpToNextPage.html' %}

            {% endif %}

        {% elif template_type == 'template::questions' %}
            <link rel="stylesheet" href="{% static 'css/admin/Questions.css' %}">

            {% include 'admin/search.html' %}

            {% if data_details == 'No data found' %}
                <p class="no-data">{{data_details}}</p>

            {% else %}
                <div class="wrapper">
                    {% for question in data %}
                        <a href="{% url 'edit-question' question.ID %}" class="inner-wrapper">
                            <div class="inner-wrapper-left">
                                <p class="question-programme">{{question.Programme}}</p>
                                <p class="question-subject">{{question.Subject}}</p>
                            </div>

                            <div class="inner-wrapper-right">
                                <p class="inner-wrapper-right-question">{{question.Title}}</p>

                                <div class="inner-wrapper-right-options">
                                    <ol type="a">
                                        {% for option in question.Options %}
                                            <li class="{% if option == question.Answer %}correct-answer{% endif %} question-option">{{option}}</li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                {% include 'JumpToNextPage.html' %}

            {% endif %}

        {% elif template_type == 'template::reports' %}
            <link rel="stylesheet" href="{% static 'css/admin/reportQuestion.css' %}">

            {% include 'admin/search.html' %}

            {% if data_details == 'No data found' %}
                <p class="no-data">{{data_details}}</p>

            {% else %}
                <div class="wrapper">
                    {% for report in data %}
                        <a class="inner-wrapper" href="{% url 'edit-report' report.ID %}">
                            <div class="inner-wrapper-left">
                                <p id="report-email">{{report.User}}</p>
                                <p id="report-issue">{{report.Issue}}</p>
                                <p id="report-date">{{report.Date}}</p>
                                <p></p>
                            </div>
                        </a>
                    {% endfor %}
                </div>

            {% endif %}

        {% elif template_type == 'template::feedbacks' %}
            <link rel="stylesheet" href="{% static 'css/admin/feedback.css' %}">

            {% include 'admin/search.html' %}

            {% if data_details == 'No data found' %}
                <p class="no-data">{{data_details}}</p>

            {% else %}
                <div class="wrapper">
                    {% for feedback in data %}
                        <a class="inner-wrapper" href="{% url 'edit-feedback' feedback.ID %}">
                            <div class="inner-wrapper-left">
                                <p id="feedback-name">{{feedback.Name}}</p>
                                <p id="feedback-email">{{feedback.Email}}</p>
                                <p id="feedback-msg">{{feedback.Message}}</p>
                                <p id="feedback-date">{{feedback.Date}}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                {% include 'JumpToNextPage.html' %}

            {% endif %}

        {% elif template_type == 'template::change-password' %}
            <script src="{% static 'js/admin/changePassword.js' %}"></script>
            <link rel="stylesheet" href="{% static 'css/admin/change-password.css' %}">

            <div class="input-groups">
                <form onsubmit="return changePassword();" action="#" method="POST">
                    {% csrf_token %}

                    <div class="input-group">
                        <input type="password" placeholder="Old Password" name="old_password">
                        <small class="old-password-error">This field must not be empty</small>
                    </div>

                    <div class="input-group">
                        <input type="password" placeholder="New Password" name="new_password1">
                        <small class="new-password-error">This field must not be empty</small>
                    </div>

                    <div class="input-group">
                        <input type="password" placeholder="Confirm New Password" name="new_password2">
                        <small class="new-password-again-error">This field must not be empty</small>
                    </div>

                    <input type="submit" value="Change Password">
                </form>
            </div>

        {% elif template_type == 'template::edit-question' or template_type == 'template::add-new-question' %}
            <script src="{% static 'js/admin/edit-question.js' %}"></script>

            <div class="input-groups">
                {% if data.0.SelectOptions %}
                    <script>
                        select_options = JSON.parse('{{data.0.SelectOptions|escapejs}}');
                    </script>
                {% endif %}

                <form onsubmit="return validateForm();" action="#" method="POST">
                    {% csrf_token %}

                    {% for key, value in data.0.items %}
                        {% if key == 'SelectOptions' %}
                            <div class="row">
                                <div class="row-left-container">
                                    <label>Programme</label>
                                </div>

                                <div class="row-right-container">
                                    <select name="Programme" class="selection-select" id="programme-select" onchange="onProgrammeChange()">
                                        <option id="programme-default">Select Programme</option>
                                    </select>
                                    <small class="programme-error">Must select any programme</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="row-left-container">
                                    <label>Subjects</label>
                                </div>

                                <div class="row-right-container">
                                    <select name="Subject" class="selection-select" id="subject-select" onchange="onSubjectChange()">
                                        <option id="subject-default">Select Subject</option>
                                    </select>
                                    <small class="subject-error">Must select any subject</small>
                                </div>
                            </div>

                        {% elif key == 'Title' %}
                            <div class="row">
                                <div class="row-left-container">
                                    <label for="{{key}}">{{key}}</label>
                                </div>

                                <div class="row-right-container">
                                    <textarea name="{{key}}" id="{{key}}" cols="40" rows="10">{{value}}</textarea>
                                    <small class="{{key}}-error">This file must not be empty</small>
                                </div>
                            </div>

                        {% elif key == 'ID' %}
                            <div class="row id-row">
                                <p>{{value}}</p>
                            </div>

                        {% else %}
                            <div class="row">
                                <div class="row-left-container">
                                    <label for="{{key}}">{{key}}</label>
                                </div>

                                <div class="row-right-container">
                                    <input type="text" id="{{key}}" value="{{value}}" name="{{key}}">
                                    <small class="{{key}}-error">This file must not be empty</small>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="buttons">
                        <button type="submit" class="bottom-button bottom-button-fifteen-percent">Save</button>

                        {% if template_type == "template::edit-question" %}
                            <a href="{% url 'delete-question' data.0.ID %}" class="bottom-button bottom-button-fifteen-percent">Delete</a>
                        {% endif %}

                    </div>
                </form>
            </div>

        {% elif template_type == 'template::edit-user' %}
            <div class="input-groups">
                <form action="#" method="POST" enctype="multipart/form-data" id="edit-user-form">
                    {% csrf_token %}

                    <div class="row id-row">
                        <p>{{data.id}}</p>
                    </div>

                    <div class="row">
                        <div class="row-left-container">
                            <label for="email">Email</label>
                        </div>

                        <div class="row-right-container">
                            <input type="text" id=email" value="{{data.email}}" name="email" {% if data.is_superuser %}readonly{% endif %}>
                            <small class="email-error"></small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-left-container">
                            <label for="gender">Gender</label>
                        </div>

                        <div class="row-right-container">
                            {% if data.is_superuser %}
                                <input type="text" id="gender" value="-" name="-" readonly>

                            {% else %}
                                <select name="gender" id="select-gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Others">Others</option>
                                </select>
                            {% endif %}

                            <small class="gender-error"></small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-left-container">
                            <label for="dob">DOB</label>
                        </div>

                        <div class="row-right-container">
                            <input type="date" value="{{data.DOB}}" name="DOB" id="dob" {% if data.is_superuser %}readonly{% endif %}>
                            <small class="dob-error"></small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-left-container">
                            <label for="profileImage">ProfileImage</label>
                        </div>

                        <div class="row-right-container">
                            <div class="upload-profile-image-div">
                                <img src="{{data.ProfileImage}}" alt="" class="user-image">
                                <input type="file" accept="image/*" name="uploaded-profile-image" id="upload-profile-button">
                                <small class="profile-image-error">Invalid image file</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-left-container">
                            <label for="memberSince">Member Since</label>
                        </div>

                        <div class="row-right-container">
                            <input type="input" id="memberSince" value="{{data.MemberSince}}" name="MemberSince" readonly>
                        </div>

                        <small class="member-since-error"></small>
                    </div>

                    {% if data.0.is_superuser %}
                        <script>
                            is_superuser = true;
                        </script>

                    {% else %}
                        <script>
                            is_superuser = false;
                        </script>

                    {% endif %}

                    <script src="{% static 'js/admin/change-user.js' %}"></script>
                    <button type="submit" class="bottom-button bottom-button-fifteen-percent" onclick="return validateForm()">Save</button>
                </form>
            </div>

        {% elif template_type == 'template::edit-subject' %}
            <script src="{% static 'js/admin/edit-subject.js' %}"></script>

            <div class="input-groups">
                <form action="#" method="POST">
                    {% csrf_token %}

                    {% for key, value in data.0.items %}
                        {% if key == 'ID' %}
                            <div class="row id-row">
                                <p>{{value}}</p>
                            </div>

                        {% else %}
                            <div class="row">
                                <div class="row-left-container">
                                    <label for="{{key}}">{{key}}</label>
                                </div>

                                <div class="row-right-container">
                                    <input type="text" id="{{key}}" value="{{value}}" name="{{key}}" {% if key != 'Total Questions To Select' %}readonly{%endif%}>
                                    <small class="{{key}}-error"></small>
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}

                    <button class="bottom-button bottom-button-fifteen-percent">Save</button>

                {% elif template_type == 'template::edit-feedbacks' %}
                    <div class="input-groups">
                        <form action="#" method="POST">
                            {% csrf_token %}

                            {% for key, value in data.0.items %}
                                {% if key != 'IsMarked' %}
                                    {% if key == 'Message' %}
                                        <div class="row">
                                            <div class="row-left-container">
                                                <label for="{{key}}">{{key}}</label>
                                            </div>

                                            <div class="row-right-container">
                                                <textarea name="{{key}}" id="{{key}}" cols="40" rows="10" readonly>{{value}}</textarea>
                                                <small class="{{key}}-error"></small>
                                            </div>
                                        </div>

                                    {% elif key == 'ID' %}
                                        <div class="row id-row">
                                            <p>{{value}}</p>
                                        </div>

                                    {% else %}
                                        <div class="row">
                                            <div class="row-left-container">
                                                <label for="{{key}}">{{key}}</label>
                                            </div>

                                            <div class="row-right-container">
                                                <input type="text" id="{{key}}" value="{{value}}" name="{{key}}" readonly>
                                                <small class="{{key}}-error"></small>
                                            </div>
                                        </div>

                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <div class="buttons">
                                {% if data.0.IsMarked %}
                                    <a href="#" class="Marked" class="bottom-button bottom-button-twenty-percent">Marked</a>

                                {% else %}
                                    <a href="{% url 'mark-feedback' data.0.ID %}" class="bottom-button bottom-button-twenty-percent">Mark As Read</a>

                                {% endif %}

                            </div>
                        </form>
                    </div>

        {% elif 'template::edit-reports' %}
            <div class="input-groups">
                <form action="#" method="POST">
                    {% csrf_token %}

                    {% for key, value in data.items %}
                        {% if key != "IsMarked" and key != 'QuestionID' %}
                            {% if key == 'ID' %}
                                <div class="row id-row">
                                    <p>{{value}}</p>
                                </div>

                            {% elif key == 'Issue' %}
                                <div class="row">
                                    <div class="row-left-container">
                                        <label for="{{key}}">{{key}}</label>
                                    </div>

                                    <div class="row-right-container">
                                        <textarea name="{{key}}" id="{{key}}" cols="40" rows="10" readonly>{{value}}</textarea>
                                    </div>
                                </div>

                            {% else %}
                                <div class="row">
                                    <div class="row-left-container">
                                        <label for="{{key}}">{{key}}</label>
                                    </div>

                                    <div class="row-right-container">
                                        {% if key == 'Question' %}
                                            <a href="{% url 'edit-question' data.QuestionID %}" target="_blank">{{value}}</a>

                                        {% else %}
                                            <input type="text" id="{{key}}" value="{{value}}" name="{{key}}" readonly>

                                        {% endif %}
                                        <small class="{{key}}-error"></small>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <div class="buttons">
                        {% if data.IsMarked %}
                            <a href="#" class="Marked bottom-button bottom-button-twenty-percent">Fixed</a>

                        {% else %}
                            <a href="{% url 'mark-report' data.ID %}" class="bottom-button bottom-button-twenty-percent">Mark As Fixed</a>

                        {% endif %}
                    </div>
                </form>
        {% endif %}
    </div>

    <script src="{% static 'js/admin/index.js' %}"></script>

{% endblock %}
