{% extends 'admin/nav.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/admin/questions-programmes-subjects.css' %}">

    <div class="wrapper">
        {% include 'admin/search-results-message.html' %}

        {% for programme in data %}
            <a class="inner-wrapper" href="{% url 'questions-per-programme' programme=programme.Name %}">
                <p class="title">{{programme.Name}}</p>
                <p class="total-questions">Total Questions: {{programme.TotalQuestions}}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}
