{% load static %}

<link rel="stylesheet" href="{% static 'css/admin/side-bar.css' %}">

<div class="side-bar">
    {% if data.0.template_type == 'template::users' %}
        <div class="side-bar-option selected-side-bar-option">

    {% else %}
        <div class="side-bar-option">

    {% endif %}
        <i class='bx bx-group'></i>
        <a href="{% url 'getUserDetails' %}" class="side-bar-items">Users</a>
    </div>

    {% if data.0.template_type == 'template::exams' %}
        <div class="side-bar-option selected-side-bar-option">

    {% else %}
        <div class="side-bar-option">

    {% endif %}
        <i class='bx bx-edit-alt'></i>
        <a href="{% url 'getExamDetails' %}" class="side-bar-items">Exams</a>
    </div>

    {% if data.0.template_type == 'template::programmes' %}
        <div class="side-bar-option selected-side-bar-option">

    {% else %}
        <div class="side-bar-option">

    {% endif %}
        <i class='bx bx-library'></i>
        <a href="{% url 'getProgrammeDetails' %}" class="side-bar-items">Programme</a>
    </div>

    {% if data.0.template_type == 'template::subjects' %}
        <div class="side-bar-option selected-side-bar-option">

    {% else %}
        <div class="side-bar-option">

    {% endif %}
        <i class='bx bxs-book-alt'></i>
        <a href="{% url 'getSubjectDetails' %}" class="side-bar-items">Subject</a>
    </div>

    {% if data.0.template_type == 'template::questions' %}
        <div class="side-bar-option selected-side-bar-option">

    {% else %}
        <div class="side-bar-option">

    {% endif %}
        <i class='bx bx-data'></i>
        <a href="{% url 'getQuestionDetails' %}" class="side-bar-items">Questions</a>
    </div>

    {% if data.0.template_type == 'template::feedbacks' %}
        <div class="side-bar-option selected-side-bar-option">

    {% else %}
        <div class="side-bar-option">

    {% endif %}
        <i class='bx bx-comment-detail'></i>
        <a href="{% url 'feedback' %}" class="side-bar-items">FeedBack</a>
    </div>

</div>
