@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #B4E4FF;
}

.nav-bar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title{
    font-size: 50px;
    padding-left: 30px;
    letter-spacing: 10px;
    font-family: 'Oswald';
}

.right-panel li{
    color: white;
    display: inline-block;
    padding: 10px;
}

a{
    color: black;
    text-decoration: none;
}

#login{
    color: black;
    padding: 20px;
    font-weight: 600;
    border-radius: 30px;
}

#sign-up{
    border-radius: 30px;
    color: white;
    font-weight: 600;
    padding: 20px;
    background-color: black;
}

#sign-up:hover{
    color: rgb(221, 221, 221);
    opacity: 80%;
}
