{% extends 'WelcomeNav.html' %}
{% load static %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'css/scroll.css' %}">
    <link rel="stylesheet" href="{% static 'css/Dashboard.css' %}">

    <div class="dashboard-container">
        <i class="bx bx-menu"></i>

        <div class="left-container">
            <i class='bx bx-x'></i>

            {% if to.redirect_to == 'dashboard' %}
                <a class="left-links selected-left-link" href="{% url 'go_to' 'dashboard' %}">

            {% else %}
                <a class="left-links" href="{% url 'go_to' 'dashboard' %}">

            {% endif %}
                <i class='bx bxs-dashboard'></i>
                <p>Dashboard</p>
            </a>

            {% if to.redirect_to == 'profile' %}
                <a class="left-links selected-left-link" href="{% url 'go_to' 'profile' %}">

            {% else %}
                <a class="left-links" href="{% url 'go_to' 'profile' %}">

            {% endif %}
                <i class='bx bx-user'></i>
                <p>Profile</p>
            </a>

            {% if to.redirect_to == 'history' %}
                <a class="left-links selected-left-link" href="{% url 'go_to' 'history' %}">

            {% else %}
                <a class="left-links" href="{% url 'go_to' 'history' %}">

            {% endif %}
                <i class='bx bx-history' ></i>
                <p>History</p>
            </a>

            <a class="left-links" href="{% url 'logout' %}">
                <i class='bx bx-log-out'></i>
                <p>Logout</p>
            </a>
        </div>

        <div class="right-container">
            {% if to.redirect_to %}
                {% if to.redirect_to == 'profile' %}
                    {% include 'profile.html' %}

                {% elif to.redirect_to == 'history' %}
                    {% include 'history.html' with results=to.results %}

                {% else %}
                    {% if to.data %}
                        <script>
                            data = JSON.parse('{{to.data|escapejs}}');
                        </script>

                        <div class="pie-charts">
                            <div class="chart-div">
                                <canvas id="Pie-Chart-correct-vs-incorrect"></canvas>
                            </div>

                            <div class="chart-div">
                                <canvas id="Pie-Chart-each-programme"></canvas>
                            </div>

                        </div>

                        <div class="chart-div">
                            <canvas id="Stacked-Bar-Chart-Results"></canvas>
                        </div>

                        <script src="{% static 'js/dashboard.js' %}"></script>

                    {% else %}
                        <p class="no-records">You have no records to display</p>

                    {% endif %}

                {% endif %}

            {% endif %}
        </div>
    </div>

    <a href="#" class="go-to-top">
        <i class='bx bx-up-arrow-alt up-arrow'></i>
    </a>

    <script src="{% static 'js/scroll.js' %}"></script>
    <script src="{% static 'js/toggleMenu.js' %}"></script>

    {% include 'footer.html' %}

{% endblock %}
