{% extends 'IndexNav.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="login-form-container">
    <div class="form-left">
        <img src="{% static 'images/Login-Signup/Login.jpg' %}">
    </div>

    <div class="form-right">
        <p class="signup">
            <a href="{% url 'signup' %}">Not a member ?</a>
        </p>
        <form>
            <div class="form-field">
                <i class='bx bxs-user bx-login' ></i>
                <input type="text" class="user-name" placeholder="Username / Email">
            </div>

            <div class="form-field">
                <i class='bx bxs-lock-alt bx-login' ></i>
                <input type="password" class="user-name" placeholder="Password">
            </div>

            <button class="form-button">Login</button>
        </form>
    </div>
</div>
{% endblock %}
