{% extends 'WelcomeNav.html' %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/modeltest.css' %}">
    <link rel="stylesheet" href="{% static 'css/scroll.css' %}">
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <form action="{% url 'getresult' %}" method="POST">
        {% csrf_token %}

        <div class="marks {% if questions.0.checked == False %}hide-marks{% endif %}">
            <p class="obtained-marks">{{questions.0.CorrectCounter}}</p>
            <p class="total-marks">100</p>
        </div>

        <div class="QuestionContainer">
            <div class="timer {% if questions.0.checked %}hide-timer{% endif %}">
                <p id="timer-text">02 : 00 : 00</p>
            </div>

            {% for question in questions %}
                <div class="Questions">
                    <p class="title">
                        <strong>{{forloop.counter}}.&nbsp;&nbsp;{{question.title}}</strong>
                    </p>

                    <div class="options">
                        {% for choice in question.choices %}
                            {% if question.checked %}
                                {% if question.UserAnswer == '-' %}
                                    <div class="choice">

                                {% elif choice == question.UserAnswer %}
                                    {% if question.is_correct %}
                                        <div class="choice correct-div">

                                    {% else %}
                                        <div class="choice wrong-div">

                                    {% endif %}

                                {% else %}
                                    <div class="choice">

                                {% endif %}

                            {% else %}
                                <div class="choice">

                            {% endif %}

                                <input type="radio" class="radio-choices" id="{{forloop.parentloop.counter}}{{forloop.counter}}" name="choices {{forloop.parentloop.counter}}" value="{{forloop.counter}}">
                                <label class="option-labels" for="{{forloop.parentloop.counter}}{{forloop.counter}}">{{choice}}</label>
                            </div>
                        {% endfor %}
                    </div>

                    {% if question.checked %}
                        <p class="correct-answer">{{question.answer}}</p>
                    {% endif %}

                    <p class="error-message">
                        <strong>Must select any one</strong>
                    </p>
                </div>
            {% endfor %}

            <button type="submit" id="submit-button" onclick="return checkForSubmission()">Submit</button>

        </div>
    </form>

    <a href="#" class="go-to-top">
        <i class='bx bx-up-arrow-alt up-arrow'></i>
    </a>

    <script>
        var is_checked = '{% if questions.0.checked == True %}true{% else %}false{% endif %}';
    </script>
    <script src="{% static 'js/scroll.js' %}"></script>
    <script src="{% static 'js/ModelTest.js' %}"></script>

{% include 'footer.html' %}
{% endblock %}
