{% extends 'WelcomeNav.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/error-message.css' %}">
    <link rel="stylesheet" href="{% static 'css/NewPassword.css' %}">

    <div class="outer-container">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="password" placeholder="New Password" name="new_password1">
            <input type="password" placeholder="New Password Again" name="new_password2">

            <small></small>

            <div class="submit-button">
                <button type="submit">Change Password</button>
            </div>

        </form>
    </div>

    {% include 'footer.html' %}

{% endblock %}
