{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Foresight | Prepare for Entrance</title>
        <link rel="stylesheet" href="{% static 'css/WelcomeNav.css' %}">
        <link rel="icon" href='{% static "logo2.png" %}' type="image/icon type">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <div class="nav-bar">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <span id="title">Online Entrance Preparation</span>
                </a>
            </div>

            <div class="right-panel">
                <a href="{% url 'programselector' %}" id="take-test">Take a Test</a>
                <img src="{{ request.user.ProfileImage.url }}" alt="" class="profile-img">
            </div>
        </div>

        <div class="drop-down-menu">
            <div class="drop-down-profile">
                <img src="{{ request.user.ProfileImage.url }}" alt="" class="drop-down-profile-img">
                <h3>{{ request.user.email }}</h3>
            </div>

            <a href="{% url 'profile' %}">
                <div class="drop-down-options">
                    <i class='bx bxs-user-circle'></i>
                    <p>Profile</p>
                </div>
            </a>

            <a href="{% url 'history' %}">
                <div class="drop-down-options">
                    <i class='bx bx-history'></i>
                    <p>History</p>
                </div>
            </a>

            <a href="{% url 'logout' %}">
                <div class="drop-down-options">
                    <i class='bx bx-log-out' ></i>
                    <p>Logout</p>
                </div>
            </a>
        </div>

        <script src="{% static 'js/WelcomeNav.js' %}"></script>
        {% block content %}
        {% endblock %}
    </body>
</html>
