{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Foresight | Prepare for Entrance</title>
        <link rel="stylesheet" href="{% static 'css/WelcomeNav.css' %}">
        <link rel="icon" href='{% static "logo2.png" %}' type="image/icon type">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <div class="nav-bar">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <span id="title">Online Entrance Preparation</span>
                </a>
            </div>

            <div class="right-panel">
                <a href="{% url 'programselector' %}" id="take-test">Take a Test</a>

                <a href="{% url 'dashboard' %}">
                    <img src="{{ request.user.ProfileImage.url }}" alt="" class="profile-img">
                </a>
            </div>

        </div>

        <script src="{% static 'js/WelcomeNav.js' %}"></script>
        {% block content %}
        {% endblock %}
    </body>
</html>
