.buttons{
    gap: 20px;
    display: flex;
}

.buttons a{
    width: 20%;
    padding: 10px;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #8f8f9d;
    background-color: #e9e9ed;
    font-family: var(--td-color);
}

.buttons a:hover{
    border: 0;
    color: whitesmoke;
    background-color: rgb(21, 184, 75);
}

a.FeedbackMarked{
    border: 0;
    color: whitesmoke;
    cursor: not-allowed;
    pointer-events: none;
    background-color: rgb(21, 184, 75);
}
