@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root{
    --side-bar-font-family: "Nunito";
}

.side-bar{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #504099;
    border-end-end-radius: 50px;
}

a{
    text-decoration: none;
}

.side-bar-option p{
    font-size: large;
    color: whitesmoke;
    text-decoration: none;
    font-family: var(--side-bar-font-family);
}

.side-bar-option{
    margin: 5px 0 5px 5px;
    gap: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.side-bar-option i{
    font-size: large;
    color: whitesmoke;
}

.selected-side-bar-option{
    background-color: white;
}

.selected-side-bar-option p,
.selected-side-bar-option i{
    color: black;
}

a.selected-side-bar-option{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
