.inner-wrapper{
    height: 180px;
    padding: 20px;
    flex-direction: column;
}

.inner-wrapper-top p{
    font-weight: 800;
    word-wrap: break-word;
    font-family: var(--global-font);
}

.inner-wrapper-bottom{
    display: flex;
}

.inner-wrapper-right{
    justify-content: flex-end;
}

.user-email{
    font-size: 20px;
    font-weight: bold;
}

.user-gender,
.user-admin,
.user-active{
    font-size: 14px;
}

.inner-wrapper-right{
    margin-top: 10px;
}
